<div class="container">
  <div class="row">
    <div class="col-12">
        <h2 align="center">Number Project!!!</h2>
        <button
          class="btn btn-primary"
          (click)="onlyOdd = !onlyOdd">Onlu show odd numbers</button>
        <ul>
          <div *ngIf="onlyOdd">
            <li
              class="list-group-item" 
              *ngFor="let odd of oddNumbers">
              {{ odd }}
            </li>
          </div>

          <div *ngIf="!onlyOdd">
            <li
              class="list-group-item" 
              *ngFor="let event of eventNumbers">
              {{ event }}
            </li>
          </div>          
        </ul>
    </div>
  </div>
</div>

